<div class="container">
    <h1>{{model.bid.bidNumber}}
        <a ng-if="model.user._id" href="#!/edit-bid/{{model.bid._id}}">
            <div class="btn btn-success btn-lg float-right"><span class="float-right">Edit</span></div>
        </a>
    </h1>
    <!--
    <a ng-if="model.user._id" href="#!/document-bid/{{model.bid._id}}">
        <div class="btn btn-primary btn-lg float-right"><span class="float-right">Populate Document Data</span></div>
    </a>
-->
    <h3>{{model.bid.Bid_ID}}</h3>
    <h4>{{model.bid.Proj_Name}}</h4>
    <p><b>Buyer: </b>{{model.bid.Buyer.fullname}}</p>
    <p><b>Requisition ID: </b>{{model.bid.Req_ID}}</p>

    <p><b>Comments: </b>{{model.bid.Comments}}</p>
    <br/>
    <p><b>Bid Opening Date: </b> {{model.formatDate(model.bid.Timeframe)}}</p>
   <!-- <button class="btn btn-primary btn-lg float-right" ng-click="model.generateDocument()">Download Document</button>
-->
</div>