<h1 class="display-4">
    <!--<img class='t-logo img-fluid' src ='https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/MBTA.svg/1024px-MBTA.svg.png'>-->
    <!--<b>&nbsp; Business Center</b>--></h1>
<div class="no-print">
<ul class="topUlMenu">
    <li class="listItem"><a class="active" href="#!/">Home</a></li>

    <li class="listItem" ng-show="model.user.role=='Admin'"><a href="#!/add-bid">Add Bid</a></li>
    <li class="listItem" ng-show="model.user.role=='Admin'"><a href="#!/list-bids">View Bids</a></li>


    <li class="listItem" ng-show="model.user.role=='Admin'"><a href="#!/admin/add-user">Add User</a></li>
    <li class="listItem" ng-show="model.user.role=='Admin'"><a href="#!/admin/view-users">View Users</a></li>
    <li class="listItem" ng-show="model.user.role=='Buyer'"><a href="#!/dashboard">My Dashboard</a></li>

    <!--<li class="listItem"><a href="#!/about">About</a></li>-->
    <li class="listItem" ng-if="model.user._id == undefined" class="float-right bg-primary"><a href="#!/login">Login</a></li>

    <!-- Available to All users?-->
    <li class="listItem" class="float-right bg-danger"><a href="#!/printitems">Req Bulk Printing</a></li>
    <li class="listItem" class="float-right bg-danger" ng-if="model.user._id != undefined"><a href="#!/settings">Settings</a></li>

    <li class="listItem" class="float-right bg-danger" ng-if="model.user._id != undefined" ng-click = "model.logout()"><a href="">Logout ({{model.user.fullname}})</a></li>
    <div class="funCircle" style = "background-color: red"><span class="fas fa-train text-center" >
            </span></div>
    <div class="funCircle" style =  "background-color: mediumseagreen"><span class="fas fa-subway text-center" >
            </span></div>
    <div class="funCircle" style =  "background-color: royalblue"><span class="fas fa-train text-center" >
            </span></div>
    <div class="funCircle" style =  "background-color: grey"><span class="fas fa-bus-alt text-center" >
            </span></div>
    <div class="funCircle" style =  "background-color: orange"><span class="fas fa-subway text-center" >
            </span></div>
    <div class="funCircle" style =  "background-color: rebeccapurple"><span class="fas fa-train text-center" >
            </span></div>
</ul>

<br/>
</div>
