.border-box{
    right: 0;
    background-color: white;
    border: solid 1px black;

}
.topUlMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff9202;
}

.listItem {
    float: left;
}

.listItem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.funCircle {
    position: relative;
    display: block;
    z:1000;
    text-align: center;
    float:right;
    right:0;
    width:60px;
    height: 60px;
    font-size: 25pt;
    top:0;
    border: 3px solid black;
    border-radius: 30px;

}

/* Change the link color to #111 (black) on hover*/
.listItem a:hover {
    background-color: #fcae46;
    color: white;
    text-decoration: none;
}

input, textarea {
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 0;
    width: 200px;
    /* box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
     -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
     -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;*/
}

textarea {
    width: 50vw;
    height: 10vw;
    line-height: 100%;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    border-color: #C9C9C9;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

.form label {
    margin-left: 10px;
    color: #999999;
}

.submit input {
    width: auto;
    padding: 9px 15px;
    background: #617798;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

label {
    display: inline-block;
    width: 200px;
    text-align: right;
}

#login {
    width: 80%;
}

.bid-row {
    max-height: 30px;
}

.list-header {
    color: white;
    background-color: #0E7DC2;

}

input[type=checkbox] {
    display: inline-block;
    position: relative;
    padding-bottom: 50%;

}

.bottom-selectors{
    width: 50%;
}

.t-logo{
    width: 9%;
    text-align: center;
    display: block;
}

.longInput{
    width: 50%;
}

.websiteContainer{
    padding: 0;
}

@media print
{
    @page {
        margin: 1cm;
    }
    .no-print, .no-print *
    {
        display:none !important;
    }

    .container {font-size: 10pt;}
    table {font-size: 10pt;}
    body {
        margin: 0;
        padding: 0 !important;
        min-width: 768px;
    }
}

