body {
  font-size: 10pt;
  padding: 10pt;
}

a {
  color: #000;
}

.tbl-padding>tbody>tr>td, .tbl-padding>tbody>tr>th, .tbl-padding>tfoot>tr>td, .tbl-padding>tfoot>tr>th, .tbl-padding>thead>tr>td, .tbl-padding>thead>tr>th {
  padding: 3px;
}

code {
  color: #000000;
}

.btn-link {
  color: #000
}
