<div class="container-fluid">
    <div class="float-right">
        <label class="float-left "></label> <input type="text" ng-model="searchText" placeholder="Search Fields"
                                                   class="form-control mx-1">
    </div>

    <h1 class="display-4">Actionable Requisitions</h1>
    <div class="list-group">
        <div class="list-header list-group-item " style="background-color: #0E7DC2;">
            <div class="row">
                <div class="col-1">Flag</div>
                <div class="col-1">Business Unit</div>
                <div class="col-1">Req ID</div>
                <div class="col-1">Days Since Creation</div>
                <div class="col-1">Days Since Approval</div>
                <div class="col-1">Amount</div>
                <div class="col-2">Requested Vendor</div>
                <div class="col-3">Description</div>

                <div class="col-1">View</div>
            </div>
        </div>
        <div ng-repeat="req in model.normalReqs| orderBy:model.sortVar:reverse
        | limitTo: model.limitTo |filter: searchText">
            <div class="list-group-item" ng-class="model.printHuh(req)">
                <div class="row bid-row">
                    <div class="col-1" ng-if="req.reqInfo.flag"><a ng-click="model.unFlag(req.Req_ID)"
                                                                   class="btn fas fa-flag mx-1 center-block"
                                                                   style="color: red"></a>
                    </div>
                    <div class="col-1" ng-if="!req.reqInfo.flag"><a ng-click="model.addFlag(req.Req_ID)"
                                                                    class="btn far fa-flag mx-1 center-block"></a>
                    </div>

                    <div class="col-1">{{req.Business_Unit}}</div>
                    <div class="col-1">{{req.Req_ID}}</div>
                    <div class="col-1">{{model.formatDate(req.reqInfo.REQ_Date)}}</div>
                    <div class="col-1">{{model.formatDate(req.reqInfo.Approved_On)}}</div>
                    <div class="col-1">{{model.formatMoney(req.reqInfo.Amount)}}</div>
                    <div class="col-2" style="overflow: hidden; word-wrap: break-word;">{{req.reqInfo.Vendor.Name}}
                    </div>
                    <div class="col-3
" style="overflow: hidden; word-wrap: break-word;">{{req.reqInfo.lines[0].More_Info}}
                    </div>
                    <div class="col-1"><a href="#!/reqinfo?reqid={{req.Req_ID}}"
                                          class="btn fas fa-eye mx-1 center-block"></a>
                    </div>
                </div>
            </div>
        </div>
        <div ng-click="model.limitTo = model.limitTo + 10" class='btn btn-link'>Show More Requisitions</div>
        <br/>


    </div>

    <h1 class="display-4">Requisitions on Hold</h1>
    <div class="list-group">
        <div class="list-header list-group-item " style="background-color: #0E7DC2;">
            <div class="row">
                <div class="col-1">Flag</div>
                <div class="col-1">Business Unit</div>
                <div class="col-1">Req ID</div>
                <div class="col-1">Days Since Creation</div>
                <div class="col-1">Days Since Approval</div>
                <div class="col-1">Amount</div>
                <div class="col-2">Requested Vendor</div>
                <div class="col-3">Description</div>

                <div class="col-1">View</div>
            </div>
        </div>
        <div ng-repeat="req in model.hold | orderBy:model.sortVar:reverse | filter: searchText">
            <div class="list-group-item" ng-class="model.printHuh(req)">
                <div class="row bid-row">
                    <div class="col-1" ng-if="req.reqInfo.flag"><a ng-click="model.unFlag(req.Req_ID)"
                                                                   class="btn fas fa-flag mx-1 center-block"
                                                                   style="color: red"></a>
                    </div>
                    <div class="col-1" ng-if="!req.reqInfo.flag"><a ng-click="model.addFlag(req.Req_ID)"
                                                                    class="btn far fa-flag mx-1 center-block"></a>
                    </div>

                    <div class="col-1">{{req.Business_Unit}}</div>
                    <div class="col-1">{{req.Req_ID}}</div>
                    <div class="col-1">{{model.formatDate(req.reqInfo.REQ_Date)}}</div>
                    <div class="col-1">{{model.formatDate(req.reqInfo.Approved_On)}}</div>
                    <div class="col-1">{{model.formatMoney(req.reqInfo.Amount)}}</div>
                    <div class="col-2" style="overflow: hidden; word-wrap: break-word;">{{req.reqInfo.Vendor.Name}}
                    </div>
                    <div class="col-3
" style="overflow: hidden; word-wrap: break-word;">{{req.reqInfo.lines[0].More_Info}}
                    </div>
                    <div class="col-1"><a href="#!/reqinfo?reqid={{req.Req_ID}}"
                                          class="btn fas fa-eye mx-1 center-block"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <h1 class="display-4">Requisitions in Transmittal</h1>
    <div class="list-group">
        <div class="list-header list-group-item " style="background-color: #0E7DC2;">
            <div class="row">
                <div class="col-1">Flag</div>
                <div class="col-1">Business Unit</div>
                <div class="col-1">Req ID</div>
                <div class="col-1">Days Since Creation</div>
                <div class="col-1">Days Since Approval</div>
                <div class="col-1">Amount</div>
                <div class="col-2">Requested Vendor</div>
                <div class="col-3">Description</div>
                <div class="col-1">View</div>
            </div>
        </div>
        <div ng-repeat="req in model.transmitted| orderBy:model.sortVar:reverse| filter: searchText ">
            <div class="list-group-item" ng-class="model.printHuh(req)">
                <div class="row bid-row">
                    <div class="col-1" ng-if="req.reqInfo.flag"><a ng-click="model.unFlag(req.Req_ID)"
                                                                   class="btn fas fa-flag mx-1 center-block"
                                                                   style="color: red"></a>
                    </div>
                    <div class="col-1" ng-if="!req.reqInfo.flag"><a ng-click="model.addFlag(req.Req_ID)"
                                                                    class="btn far fa-flag mx-1 center-block"></a>
                    </div>

                    <div class="col-1">{{req.Business_Unit}}</div>
                    <div class="col-1">{{req.Req_ID}}</div>
                    <div class="col-1">{{model.formatDate(req.reqInfo.REQ_Date)}}</div>
                    <div class="col-1">{{model.formatDate(req.reqInfo.Approved_On)}}</div>
                    <div class="col-1">{{model.formatMoney(req.reqInfo.Amount)}}</div>
                    <div class="col-2" style="overflow: hidden; word-wrap: break-word;">{{req.reqInfo.Vendor.Name}}
                    </div>
                    <div class="col-3
" style="overflow: hidden; word-wrap: break-word;">{{req.reqInfo.lines[0].More_Info}}
                    </div>
                    <div class="col-1"><a href="#!/reqinfo?reqid={{req.Req_ID}}"
                                          class="btn fas fa-eye mx-1 center-block"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
